body { font-family: Arial, sans-serif; text-align: center; }
.container { margin-top: 50px; }
button { margin: 10px; padding: 10px 20px; font-size: 16px; }
.hidden { display: none; }
.hero-image-container { margin: 20px; }
.hero-image-container img { width: 250px; height: auto; }
.hero-container {
    position: absolute !important; /* změněno z relative */
    display: inline-block;
    left: 50%; /* přidáno pro centrování */
    top: 50%; /* přidáno pro centrování */
    transform: translate(-50%, -50%); /* přidáno pro přesné centrování */
}

#hp-bar {
    position: absolute !important;
    top: -30px !important;
    right: -75px !important;
    width: 50px !important;
    height: auto;
}

#game-hero-image {
    width: 100px;
    height: auto;
    position: relative;
    display: block;
}

#coin-container {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 1000;
}

#coin-image {
    width: 30px;
    height: 30px;
}

#gold-amount {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
}
/*
#restart-btn {
    position: fixed;
    top: 20px;
    right: 90px;
    z-index: 1000;
    padding: 8px 16px;
    cursor: pointer;
}
*/
.dropbtn {
    background-color: orange;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

.dropdown {
    position: fixed;
    top: 20px;
    right: 40px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: orange;}