body { font-family: Arial, sans-serif; text-align: center; }
.container { margin-top: 50px; }
button { margin: 10px; padding: 10px 20px; font-size: 16px; }
.hidden { display: none; }
.hero-image-container { margin: 20px; }
.hero-image-container img { width: 250px; height: auto; }
.hero-container {
    position: absolute; /* změněno z relative */
    display: inline-block;
    left: 50%; /* přidáno pro centrování */
    top: 50%; /* přidáno pro centrování */
    transform: translate(-50%, -50%); /* přidáno pro přesné centrování */
}

#hp-bar {
    position: absolute;
    top: -30px;
    right: -75px;
    width: 50px;
    height: auto;
}

#game-hero-image {
    width: 100px;
    height: auto;
    position: relative;
    display: block;
}

#coin-container {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 1000;
}

#coin-image {
    width: 30px;
    height: 30px;
}

#gold-amount {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
}
.dropbtn {
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: orange;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline-block;
    top: 20px;
    right: 20px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0; /* Align to right edge */
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

html, body {
    overflow: hidden; /* Zabrání zobrazení scroll baru */
    margin: 0; /* Odstraní výchozí okraje */
    padding: 0; /* Odstraní výchozí odsazení */
    width: 100%; /* Zajistí, že šířka bude přesně odpovídat oknu */
    height: 100%; /* Zajistí, že výška bude přesně odpovídat oknu */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.drag-highlight {
    background-color: #4CAF50 !important;
    border: 2px dashed #fff !important;
    color: white;
}

.enemy {
    transition: transform 0.1s;
}
.enemy.attacking {
    transform: scale(1.2);
}
.enemy img {
    filter: drop-shadow(0 0 3px red);
}
.enemy-health-container {
    border-radius: 2px;
    overflow: hidden;
}
.enemy-health {
    transition: width 0.3s, background-color 0.3s;
}